<div class="col-12">
  <div class="row">
    <% if items.present? %>
      <% items.in_groups(4, false).each do |group| %>
        <div class="col-3">
          <ul>
            <% group.each do |i| %>
              <li data-toggle="tooltip" data-placement="top" title="<%= tooltip_data(i, type) %>">
                <%= i["name"] %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% else %>
      None
    <% end %>
  </div>
</div>